/* Codepen for Buttons https://codepen.io/JavaScriptJunkie/pen/pPRooV */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reusable Styles */
html{
    font-size: 10px;
   /* background: #FAFBFF;*/
   background: #FFFFFF;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
	color: inherit; 
	cursor: pointer;
}

h1{
    font-size: 3rem;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 5.5rem;    
}

h3{
    font-size: 2.5rem;
    font-weight: 200;
}

p{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

section{
    padding: 5rem 0 10rem;
}

.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Buttons */
button{
    font-size: 1.60rem;
    font-weight: 400;
    font-family: 'Open-Sans', sans-serif;
    width: 17rem;
    border-radius: 5px;
}

button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:focus {
    outline: none;
}

.button-filled {
    cursor: pointer;
    margin: 0 0 2rem 0;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f6dcff, #C5D6FE, #C5D6FE, #EDC7FB);
    box-shadow: 0 2px 8px 0 rgba(45, 54, 65, 0.15);
}

.button-border {
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align:center;
    background-color: #FAFBFF;
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #f6dcff, #C5D6FE, #C5D6FE, #EDC7FB);
    border-image-slice: 1;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 2px 8px 0 rgba(45, 54, 65, 0.15);
}

/* Header Styles */
/* TODO: change all colors/fonts in this section */
.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(to bottom right, #C5D6FE, #EDC7FB);
    z-index: 999;
}

.logo{
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
}

.logo:hover{
	color: #83649C;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    font-family: "Baloo Tamma 2",'Poppins', sans-serif;
    text-transform: lowercase;
    padding: .5rem;
}

.nav-link:hover{
	color: #83649C;
	/*text-decoration: underline;*/
}

.social{
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
}

.social-sq{
	width: 4rem;
    height: 4rem;
    border: 1.8px solid #000000;
    border-radius: 100%;
    background-color: #FBF8FF;
    margin: 0 1.5rem;
	display: flex;
	justify-content: flex-end;
}

.social-sq i{
	color: #000;
    font-size: 2.25rem;
    margin: auto;
}

.social-sq:hover{
    border: 2.5px solid #3F3D56;
    background-color: #83649C;
}

.social-sq i:hover{
	color: #FBF8FF;
}

/* Landing */
.landing.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-img{
    display: flex;
    margin-right: auto;
    width: 100%;
    height: 100vh;
}

/* Case Studies */
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-item img{
    padding: 5rem;
    width: auto;
}

.casestudy h1{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: .25rem;
}

.casestudy h2{
    font-weight: 500;
}

.casestudy h3{
    margin: 0 0 2rem;
}

.casestudy p{
    font-size: 1.6rem;
}

.case-desc{
    margin-top: -3rem;
    width: auto;
}

.casestudy1 h2{
    color:#FACEBF;
}

.casestudy2 h2{
    color:#EDAE3A;
    line-height: 7rem;
}

/* About */
.about{
    width: 100%;
}

.about h1{
    letter-spacing: .25rem;
    font-family: 'Poppins', sans-serif;
}

.about span{
    font-weight: 700;
}

.about h2{
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    color:#C5D6FE;
    margin: -2rem 0 -1rem;
}

.about p{
    font-size: 2rem;
    line-height: 3.5rem;
}

/*Contact*/
form{
    font-size: 1.60rem;
    font-weight: 400;
    font-family: 'Open-Sans', sans-serif;
    border-radius: 5px;
    width: 45%;
    margin: 20px auto 50px;
}

form label{
    font-size: 1.5rem;
}

input,
select,
textarea{
	width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
    background-color: #FAFBFF;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #f6dcff, #C5D6FE, #C5D6FE, #EDC7FB);
    border-image-slice: 1;
    background-size: 300% 100%;
}

input[type="submit"]{
	cursor: pointer;
    margin: 0 0 2rem 0;
    height: 45px;
    width: 45%;
    float: right;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #f6dcff, #C5D6FE, #C5D6FE, #EDC7FB);
    box-shadow: 0 2px 8px 0 rgba(45, 54, 65, 0.15);
}

input[type="submit"]:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* footer */

footer{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    width: 100%;
    height: 5rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, #C5D6FE, #EDC7FB);
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    /* TODO: choose a color */
    color: #ad90b8;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.4rem;
}